<style type="text/css">
        body, button, a, li, p, h1, h2, h3, h4, h5, h6{
            font-family: Roboto !important;
            font-weight:300;
            border-bottom: rgba(31, 202, 167, 0.8);
        }

        button {
            font-weight:400;
        }

        .page-header{
            border-bottom: 1px solid rgba(31, 202, 167, 0.4);
        }

        hr{
            border-top:1px solid rgba(31, 202, 167, 0.4);
        }

        .headroom{
                background: rgba(31, 202, 167, 0.8);
                font-weight:300;
        }

        .headroom .navbar{
            font-size: 30px !important;
        }

        .h-caption i{
            color: rgba(31, 202, 167, 0.8);
        }

        .sign_up{
            background-color: rgba(31, 202, 167, 1);
            background-image: none;
            transition: all 0.3s ease-in-out;
        }

        .sign_up:hover{
            background-color: rgb(31, 202, 131);
            transition: all 0.3s ease-in-out;
            
        }



</style>
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/">RegApp</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="/">Home</a></li>
                <li class="active"><a class="btn" href="/signin">SIGN IN</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>